{{ define "header" }}
<header>
    <div class="nav-left">
        <strong>URRO</strong>
        <strong><a href="/">Главная</a></strong>
    </div>
    <div class="nav-right">
        <form action="/" method="GET">
            <strong><input type="text" name="q" placeholder="Поиск..." /></strong>
        </form>

        {{ if .Email }}
            <strong><a href="/profile">Профиль</a></strong>
        {{ else }}
            <strong><a href="/register">Регистрация</a></strong>
        {{ end }}
    </div>
</header>
{{ end }}